.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
README.md
tests
.phpunit.result.cache